@CHARSET "UTF-8";

#imgg{
  margin-top: 100px;
  margin-left: 350px;
  float: left;
  position:relative;
  z-index: 2;}


#div10 {
  width: 100px;
  height: 665px;
  background: red;
  margin-top: 100px;
  margin-left: 750px;
  position: relative;
  animation-name: example;
  animation-duration: 3s;  
  animation-delay: 0.5s;
  animation-fill-mode: both;
  position:absolute;
  z-index: 1;
  float: left;}

@keyframes example {
  from {left: 0px; background-color:#0F4C81;}
  to {left: 200px; background-color: #13335E;}
}

p{
  color: white;
  float: left;
  margin-left:770px;
  position:absolute;
  z-index: 1;
  animation-name: example1;
  animation-duration: 3s;  
  animation-delay: 0.5s;
  animation-fill-mode: both;}

#text{
font-size: 80px;
padding-top: 100px;}

@keyframes example1 {
  from {left: 0px; }
  to {left: 200px;}
}

#text1{padding-top: 400px;}
